.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 10px;

  @media all and (min-width: 1024px) {
    padding: 60px;
  }

  span {
    line-height: 52px;
    font-size: 32px;
    text-align: center;

    @media all and (min-width: 1024px) {
      font-size: 48px;
    }
  }
}
