.menuItemsList {
  padding: 0 20px;

  @media all and (min-width: 1024px) {
    padding: 6px 20px;
  }
}

.menuItem {
  padding: 12px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  @media all and (min-width: 1024px) {
    padding: 6px 0;
  }

  &:hover {
    svg {
      path {
        fill: var(--orange);
      }
    }

    span {
      color: var(--orange);
    }
  }
}
.menuItem > svg + span {
  margin-left: 7px;
}

.hide {
  @media all and (min-width: 320px) and (max-width: 1023px) {
    display: none;
  }
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--greyEC);
}
