.textContent {
  display: flex;
  flex-flow: row wrap;

  @media all and (min-width: 1024px) {
    flex-basis: 540px;
    order: 1;
    margin: 0 0 0 38px;
    flex-flow: column-reverse nowrap;
    justify-content: center;
  }

  @media all and (min-width: 1540px) {
    flex-basis: 672px;
  }

  & > * {
    @media all and (min-width: 1024px) {
      flex: 0 0;
    }
  }

  & > * + * {
    padding: 7px 0 0;
  }

  .metaData {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 10px;
    line-height: 12px;

    @media all and (min-width: 1024px) {
      flex-flow: row-reverse nowrap;
      justify-content: flex-end;
      font-size: 14px;
      line-height: 16px;
    }

    .createdAt,
    .createdAt span {
      color: var(--grey99);
    }
  }

  .publishedLabel {
    display: none;

    @media all and (min-width: 1024px) {
      display: inline;
    }
  }
}
