.commentContainer {
  display: flex;
}

.commentContentContainer {
  margin-left: 22px;
}

.commentContent {
  flex: 1;

  &:nth-child(n) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
