button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.card {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  padding: 20px 20px 10px;
  display: flex;
  flex-flow: row wrap;

  & > * {
    flex: 1 1 100%;
  }

  & > * + * {
    padding: 13px 0 0;
  }

  &:hover h2 a,
  &:focus-within h2 a {
    color: var(--orange);
  }

  .textContent > * {
    flex: 1 1 100%;
  }
}

@media all and (min-width: 1024px) {
  .card {
    background-color: transparent;
    flex-flow: row nowrap;
    max-height: 107px;
    padding: 0 40px;
    border-radius: 0px;

    & > * {
      flex: 0 0;
    }

    & > * + * {
      padding: 0;
    }
  }
}

@media all and (min-width: 1540px) {
  .card {
    padding: 20px 60px;
    max-height: 147px;
    cursor: pointer;

    &:hover,
    &:focus-within {
      outline: 1px solid var(--greyD9);
    }
  }
}
